*{margin:auto;padding:0;}

body{
    background-image: url(../image/wallpaper.jpg); 
}
nav{
    margin:0 auto;
    height: 8%;
    width: 100%;
    background: rgb(00,00,00);
}
table {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    color: white;
}
table tr{
    width: 100%; 
    margin: 0 auto;
    padding: 0 auto;
}
table tr td {
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
table tr td a{
    font-family: Chunkfive;
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-decoration: none;
}
table tr td a:hover{
    font-family: Chunkfive;
    font-weight: 900;
    font-size: 30px;
    color: rgb(246,94,1);
    text-decoration: underline;
}
/*:visited muda a cor do link depois de clicado*/
table tr td img{
    width: 140px;
    height: 50px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
}
/*Só utilzido para a pagina serviços */
#servicossection{
    margin-top: 2%;
    width: 80%;
    height: auto;
    border-style: none;
    list-style:circle;
    color: white;
}
ul{
    margin-left: 5%;
    color: white;
}
ul li{
    font-size: 25px;
}
figure{
    width: 55%;
    height:45%;
    padding:0;
    margin: 0 auto;
}
figure img{
    padding: 0;
    margin: 0;
    width: 100%;
    height:100%;
    border-radius: 2%;
}

/*---------------------------------------------------------------------------*/
section{
    width: 80%;
    height: auto;
    border-style: groove;
    color: white;
}section form{
    margin-top: 2%;
    margin-bottom: 52%;
}
fieldset{
    width: 20%;
    float: left;
    margin: 2%;
}
h1{
    text-align: center; 
}
p{
    font-size: 26px;
    text-align: justify;
    text-indent: 50px;
    margin: 0px 10px 0px 10px;
}
form{
    margin-top: 5%;
}
footer{
    margin:0 auto;
    height: auto;
    width:90%;
    height: 4%;
    background-color: black;
    border-style:solid;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer p{
    text-align: center;
    font-family: cursive;
    font-size: 100%;
    color: rgb(246,94,1);
}

